<div class="blog-post">
    <%# shortcut that looks for a partial named blog (singular) because our instance variable is called blogs %>
    <%# this is a standard collection call %>
    <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
    <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %></p>
    
    <%= render partial: 'blogs/admin_actions', locals: {blog: blog } %>

    <p><%= blog.body %></p>
</div>

