<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path %>

<%# looking for a partial called portfolio. Since we named the partial portfolio_item we need to specify. %>
<%# this is a manual collection call %>
<%= render partial:  'portfolio_item', collection: @portfolio_items %>

