<div class="album py-5 bg-light">
  <div class="container">
    <%= link_to "Create New Item", new_portfolio_path if logged_in?(:site_admin)  %>
    <div class="row sortable">
      <%# looking for a partial called portfolio. Since we named the partial portfolio_item we need to specify. %>
      <%# this is a manual collection call %>
      <%= render partial:  'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>
