<h1>Would you like to work together?</h1>

<div>
<p>Office Address: </p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.7661386909485!2d-111.90222188423554!3d40.65708524890956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528b5c291cac5f%3A0x7cc840b188f930e0!2sVitality%20Energy!5e0!3m2!1sen!2sus!4v1568747095822!5m2!1sen!2sus" 
width="400" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

<p><a href="mailto:kristinakfriel@gmail.com?subject=PortfolioContact">Email me</a></p>

<%# helper method %>
<p>Number: <%= number_to_phone "8017836753" %></p>
